@mixin setBackgroundRgba($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin inputStyle($borderColor, $borderRadius) {
  border-color: $borderColor;
  border-radius: $borderRadius;
}
